.case-study-title {
    color: var(--Text-Header, #293056);
    font-size: 47px;
    font-weight: 500;
    line-height: 60px;
}

.case-study-featured-img {
    width: 100%;
    height: 530px;
    object-fit: cover;
    border-radius: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.case-study-excerpt {
    color: var(--Text-Body, #3E4784);
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
}

.toc-col {
    position: sticky;
    top: 80px;
    align-self: flex-start;
}

.table-of-contents {
    color: var(--Text-Header, #293056);
    font-weight: 600;
    margin-bottom: 12px;
    position: relative;
}

.table-of-contents-link a {
    text-decoration: none;
    color: #3E4784;
    font-weight: 400;
}

.block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.block h5 {
    font-weight: 500;
}

.block p {
    font-weight: 300;
    line-height: 28px;
}

.block-table .thead {font-weight: 600;}

.case-study-container {
    position:absolute;
    width: 100%;
    background-image: url(imgs/line\ bg.svg);
    background-repeat: repeat;
}

.mobile-table-of-contents {
display: none;
margin-top: var(--space-3);
}

.progress-sticky-parent {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-left: 0;
    width: 100%;
    z-index: 50;
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.progress-section {
    position: relative;
    margin-left: 0;
    top: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.progress-track {
    width: 100%;
    height: 10px;
    background: #ffe2d8;
    overflow: hidden;
    border-radius: 99px;
}

.progress-fill {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #ffa385 0%, #bb4de8 100%);
    transition: width 0.1s linear;
    border-radius: 99px;
}

/*========================================================================*/

/*Responsive Settings*/
@media screen and (min-width: 1920px) {
    /*insert code*/
}

/*Widescreen*/ /*xxl*/
@media screen and (min-width: 1440px) {
    /*insert code*/
}

/*Tablet LG START*/ /*lg*/
@media screen and (max-width: 992px) {
    .toc-col {display: none;}

    .case-study-container > .container {width: 100%;}

    .case-study-content {
        width: 100%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .mobile-table-of-contents {
        display: block;
        width: 100%;
    }
}

/*Tablet*/ /*md*/
@media screen and (max-width: 768px) {
    .progress-section {
        gap: 8px;
    }

    .progress-label {
        min-width: 40px;
        font-size: 12px;
    }
}

/*Mobile*/ /*sm*/
@media screen and (max-width: 567px) {
    .case-study-content {
        padding-left: 0%;
        padding-right: 0%;
    }
}
/*========================================================================*/