/* ───────────────────────────────────────────────
    TABLE OF CONTENTS
    1. Primitive Tokens
    2. CSS Variables - Design Tokens
    2. Page Layout Shell
    ───────────────────────────────────────────────*/

    :root {
/* ───────────────────────────────────────────────
    1. Primitive Tokens
    ───────────────────────────────────────────────*/
        /*Clairvoyant*/
        --clairvoyant-50:  #FBF4FF;
        --clairvoyant-100: #F6E9FE;
        --clairvoyant-200: #EDD2FC;
        --clairvoyant-300: #E2AFF8;
        --clairvoyant-400: #D17FF3;
        --clairvoyant-500: #BB4DE8;
        --clairvoyant-600: #A12ECB;
        --clairvoyant-700: #8722A9;
        --clairvoyant-900: #5F1E71;
        --clairvoyant-950: #4B095D; /*Primary*/

        /*Razzmatazz*/
        --razzmatazz-50: #FFF1F4;
        --razzmatazz-100:#FFE3E8;
        --razzmatazz-200:#FFCCD8;
        --razzmatazz-300:#FFA1B7;
        --razzmatazz-400:#FF6D92;
        --razzmatazz-500:#F93A70; /*Primary*/
        --razzmatazz-600:#D91656;
        --razzmatazz-700:#C30D4D;
        --razzmatazz-800:#A30E47;
        --razzmatazz-900:#8B1043;
        --razzmatazz-950:#4E0320;

        /*Vivid Tangerine*/

    }

/* ───────────────────────────────────────────────
    2. CSS Variables - Design Tokens
    ───────────────────────────────────────────────*/
    

/* ───────────────────────────────────────────────
    2. Page Layout Shell
    ───────────────────────────────────────────────*/
    /*Top Nav START*/
    .sticky-ds-navigation {
        position:         sticky;
        top:              0;
        z-index:          100;
        background-color: #2D0538;
        padding:          12px 32px;
    }

    .sticky-ds-navigation p {
        color:       var(--clairvoyant-50); 
        line-height: normal;
    }
    /*Top Nav END*/

    /*Table of Contents START*/
    .ds-sidebar {
        position:      sticky;
        top:           32px;
        height:        /*calc(100vh - 32px)*/ 85vh;
        overflow-y:    auto;
        padding-right: 8px;
        display: flex;
        flex-direction: column;
    }

    .ds-sidebar::-webkit-scrollbar { width: 4px; }
    .ds-sidebar::-webkit-scrollbar-track { background: transparent; }
    .ds-sidebar::-webkit-scrollbar-thumb { background: var(--color-border); border-radius: 99px; }
    /*Table of Contents END*/

    /*Main Content START*/
    .ds-container {padding: 12px 32px;}

    .ds-section {
        margin-bottom: 40px; 
        margin-top:    8px;
    }

    .ds-section-title {
        font-family:    'Poppins';
        font-size:      12px;
        font-weight:    600;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color:          var(--razzmatazz-500);
        margin-bottom:  20px;
        display:        flex;
        align-items:    center;
        gap:            12px;
    }

    .ds-section-title::after {
      content:    '';
      flex:       1;
      height:     1px;
      background: var(--razzmatazz-500);
    }
    /*Main Content END*/