/*Table of Contents*/
.deliverables-parent {
    position: relative;
    height: auto;
}

.deliverables-parent > .h-stack {
    align-items: stretch;
}

.deliverables-parent > .h-stack > .v-stack.w-50,
.deliverables-parent > .h-stack > .deliverables-sticky-parent.w-50 {
    flex: 0 0 50%;
    max-width: 50%;
}

.deliverables-sticky-parent {
    position: relative;
    align-self: stretch;
}

.deliverables-sticky-content {
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
    align-self: flex-start;
}


/*========================================================================*/

/*Responsive Settings*/
@media screen and (min-width: 1920px) {
    /*insert code*/
}

/*Widescreen*/ /*xxl*/
@media screen and (min-width: 1440px) {
    /*insert code*/
}

/*Tablet LG START*/ /*lg*/
@media screen and (max-width: 992px) {
    .deliverables-parent > .h-stack {
        flex-direction: column;
    }

    .deliverables-parent > .h-stack > .v-stack.w-50,
    .deliverables-parent > .h-stack > .deliverables-sticky-parent.w-50 {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50% !important;
    }

    .deliverables-sticky-parent {
        position: relative;
        align-self: flex-start;
    }

    .deliverables-sticky-content {
        position: static;
    }
}

/*Tablet*/ /*md*/
@media screen and (max-width: 768px) {
    
}

/*Mobile*/ /*sm*/
@media screen and (max-width: 567px) {
    /*insert code*/
}
/*========================================================================*/